html, body{
	height:100%;
}
body{
	background-image:url("../vktaust.svg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
.upgrade{

}
.container{
	height:100%;
}
.stats, .upgrades{
	width:200px;
	height:100%;
	/**background-color:grey; **/
}
.btn{
color: white;
height: 50px;
line-height: 50px;
font-size: 20px;
text-align: center;
border: 1px solid #ddd;
background-color: rgba(246, 36, 89, 0.7);
}
.btn--delete{
	font-size: 10px;
  height: 20px;
  text-align: center;
  width: 75px;
  line-height: 2;
  float: right;

}
.gameArea{
	height:100%;
}
.gameArea__buttons{
	width: 300px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
