@CHARSET "UTF-8";
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td {
border:0pt none;
font-family:inherit;
font-size: 100%;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}
body{
	background: #fff;
	line-height:14px;
	font-size: 12px;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	margin:0pt;
	cursor:default;
	overflow: hidden;
}
html,body{
	height:100%;
	text-align: center;
}

<<<<<<< HEAD
#container {
 overflow-x:hidden;
    overflow-y:visible;
    height:500px;
=======
.content {
    height: 250px;
    width: 600px;
    overflow: auto;
>>>>>>> 167d209548648f5e697c4a964de8a81ed11fb9be
}




@livechat-mobile {
	.operators-bar img {
    		border-radius: 3rem !important;
}}

.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
a{
	text-decoration: none;
}
strong{
	font-weight: 700;
}
/******* GENERAL RESET *******/
/******* LOGO *******/
#logo{
	margin-top: 1em;
	display: block;
}
/******* /LOGO  *******/
/******* FORM *******/
#form{
	margin: 5em auto 3em;
	width: 300px;
	font-family: Calibri, cursive;
}

#form label{
	font-weight: 700;
	color: black;

}
#form input{
	border: 1px solid #d0ccc9;
	background: #fff;
	color: #5f95ef;
	font-size: 11px;
	font-weight: 700;
}
#form input.text{
	font-weight: normal;
	color: #565656;
	border: 1px solid #9c9c9c;
	width: 250px;
	padding: 2px;
	margin-bottom: 5px;
}
#form input.text.user{
	width: 100px;
}
/******* /FORM *******/

#container{
	margin: 1em auto;
	width: 605px;
	border: 3px solid green;
}

/******* CONTENT *******/
.content{
	margin: 0pt auto;
	background: #efefef;
	background: #fff;
	border: 1px solid #d0ccc9;
	text-align: left;
	padding: 10px;
	padding-bottom: 20px;
	font-size: 13px;
}
/*
p{
	letter-spacing: 0.8px;
	font-style: italic;
	font-family: Times New Roman;  font-weight
}
*/

.content h1{
	line-height: 1em;
	vertical-align: middle;
	height: 48px;
	padding: 10px 10px 10px 52px;
	font-size: 18px;
	background: url(images/bubble.jpg) no-repeat scroll left top;
}
.date{
	font-weight: normal;
	font-size: 9px;
	color: #aeaeae;
}
/******* /CONTENT *******/
/******* LOADING *******/
#loading{
	text-align: center;
	height:20px; margin-bottom:10px
}
/******* /LOADING *******/
