$primary-color: white;
$secondary-color: #141414;
$tertiary-color: #3e3e3e;
$accent-color: #ffa800;

body {
  background-color: white;
  overflow: hidden;
}
audio {
  min-width: 400px;
  width: 100%;
}

.details {
  color: $primary-color;
  width: 100%;
  padding-bottom: 5px;
  position: absolute;
  background: $secondary-color;

}
.details a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bolder;
}
.details a:hover{
  font-style:oblique;
}
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.details div {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

button:focus {outline:0;}

#nav {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 6rem;
  height: 3rem;
}
.show {
  color: $secondary-color;
  background: $primary-color;
  border: 2px solid $secondary-color;
}
.show:hover {
  color: $primary-color;
  background: $secondary-color;
}
.hide {
  color: $primary-color;
  background: $secondary-color;
  border: 2px solid $primary-color;
}

.details div input#search {
  width: 240px;
  height: 32px;
  background: $tertiary-color;
  border: none;
  font-size: 12pt;
  float: left;
  padding-left: 12px;
  margin-left: 7rem;
  color: $primary-color;
  border-radius: 5px;
}
// Gulp-autoprefixer makes this easy
.details div input#search::placeholder {
   color: $primary-color;
}

.details div input#search:hover::placeholder {
   color: $secondary-color;
}

.details div .icon {
  position: absolute;
  vertical-align: middle;
  margin-top: 8px;
  margin-left: 8px;
  z-index: 1;
  color: $primary-color;
}

.details div input#search:hover, .details div input#search:focus, .details div input#search:active {
  outline:none;
  background: $primary-color;
  color: $secondary-color;
}
