body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color:	#A0A0A0 ;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
main {
	position: absolute;
	top: 0;
	bottom: 0;
}

#health {
  font-size:26px;
  color: red;
  font-family: 'Press Start 2P', cursive;
}

#canvas{
	position:absolute;
}
#score{
	position:absolute;
  color: blue;
  font-size:22px;
  font-family: 'Press Start 2P', cursive;
}
#time{
  float:right;
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
}
