table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
main > * {
    display: none;
    padding: 10px;
}
main > *:last-child {
    display: block;
}
main > *:target {
    display: block;
}
main > *:target ~ * {
    display: none;
}
