html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#content {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    width: 250px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -125px;
    text-align: center;
}
