/* .match:hover{
	color:blue;
}

.match1:hover{
	color:blue;
}

.match2:hover{
	color:blue;
}

.match3:hover{
	color:blue;
}

.match4:hover{
	color:blue;
}

.match5:hover{
	color:blue;
} */

html,body{
	font-size:25px;
	padding:5px;
}

div{
	width:initial;
}

.show{
	display:block !important;
}

.blue{
	color:blue !important;
}

.green{
	color:lightseagreen;
}

.red{
	color:red !important;
}

.purple_button{
	color:purple !important;
}

.purple{
	color:purple !important;
}

.inactive{
	color:grey !important;
	pointer-events:initial !important;
}

input{
	margin:5px;
}

.seperate{
	
}

.translation{
	margin:5px;
}

.section{
	margin:5px;
}

.target{
	display:none;
}

.section_en{
	margin:5px;
}

.section_et{
	margin:5px;
}

.flat {
	background: none;
    font-weight: bold;
    border: 2px solid;
}

.pull-right{
	margin:5px;
}